/*Zenor.net Minimal Core Stylesheet*/
@charset "utf-8";
/*CORE////////////////////////////////////*/
body{margin:0;padding:0;font-family:Tahoma, Geneva, sans-serif;font-size:.8em;}
/*LINKS///////////////////////////////////*/
a,a:link{cursor:pointer;font-weight:bold;text-decoration:underline;}
/*TAGS///////////////////////////////////*/
p{margin:5px 0px;}
h1,h2,h3,h4,h5{font-size:3em;padding:0;margin:0;}
h2{font-size:2em;margin:10px;}
h3{font-size:1.6em;margin:10px;}
h4{font-size:1.3em;margin:20px;}
h5{font-size:1.3em;margin:10px;}
ul{list-style:none;margin:0;padding:0;}
/*MISC////////////////////////////////////*/
.clearfix{clear:both;}
.content .contentbox p,.tabset .contentbox p{text-indent:30px;}
.linklist li{float:left;}
.linklist a{text-decoration:underline;cursor:pointer;}
.linklist .underlist li{float:none;}
.linklist .underlist a{font-size:.9em;text-decoration:none;}
#imgbox{opacity:0.8;background-color:#000000;width:100%;position:absolute;z-index:2;top:0px;}
#imgholder{position:absolute;z-index:3;left:50%;top:50%;padding:10px;width:20px;height:20px;background-image:url('../images/preload.gif');background-repeat:no-repeat;background-position:center;}
.block{display:block;}
.gallerylistitem{float:left;overflow:hidden;}
#left{height:100%;width:20%;position:absolute;}
#right{height:100%;width:20%;position:absolute;margin-left:80%;}
/*PAGEWRAP//////////////////////////////// */
#pagewrap{margin:0px auto;padding:0px;}
/*HEADER//////////////////////////////////*/
#header{}
#headerlink{overflow:hidden;}
#headerlink a{display:block;width:100%;height:100%;}
#headerlink:hover{cursor:pointer}
#menudialog{width:100%;position:absolute;overflow:hidden;z-index:1;}
#menudialog>ul{padding:10px 0px;margin:0px;}
#menudialog>ul>ul{padding:0px;margin:0px;}
#menudialog>ul>li{float:left;text-align:center;}
#menudialog>ul>li>li{clear:both;text-align:center;}
#navigation{margin-bottom:20px;}
ul#topmenu{padding:0px;z-index:2;}
li.topmenuitem{cursor:pointer;float:left;}
/*CONTENT/////////////////////////////////*/
#content{margin:0px;clear:both;}
.content{}
.tabset{margin-bottom:20px;}
.tricontent{float:left;}
.tricontent.last{margin-right:0px;}
.content{clear:both;}
.contentbox,.tabbox{margin-top:2px;text-align:justify;clear:both;}
li.breadmenuitem,li.trimenuitem,li.tabmenuitem{float:left;margin:0;padding:0;}
li.breadmenuitem a,li.trimenuitem a,li.tabmenuitem a{display:block;text-decoration:none;font-size:17px;}
li.trimenuitem a,li.tabmenuitem a{padding:0px 10px;cursor:auto;}
li.breadmenuitem.selected a{font-weight:normal;font-style:normal;cursor:auto;}
li.breadmenuitem:first-child a,li.trimenuitem a,li.tabmenuitem a{display:block;height:40px;position:relative;z-index:1;}
/*FOOTER//////////////////////////////////*/
#footer{width:100%;clear:both;}
#footerleft{height:100%;display:inline-block;float:left;}
#footerleft ul li a{text-decoration:none;}