/*Zenor.net T20N Theme*/
@charset "utf-8";
/*CORE///////////////////////////////////*/
body{background-color:#000;color:#000;}
/*LINKS//////////////////////////////////*/
a,a:link{transition:color ease .2s;-moz-transition:color ease .2s;-webkit-transition:color ease .2s;-o-transition:color ease .2s;color:#046380;}
a:hover{color:#141414;}
/*TAGS///////////////////////////////////*/
b{color:#2B2B2B;font-weight:normal;}
h1,h2,h3,h4,h5{color:#046380;font-weight:normal;}
h1,h2,h3,h4{font-style:italic;}
/*img{background-image:url('../images/preload.gif');background-position:center;background-repeat:no-repeat;}*/
/*MISC///////////////////////////////////*/
#header,.content,.tabset,.tricontent,.gallery,#footer,#imgholder,#imgholder img,.gallerylistitem{overflow:hidden;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;}
#menudialog{overflow:hidden;border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px;-o-border-radius:5px 5px 0px 0px;}
#navigation{overflow:hidden;border-radius:0px 0px 5px 5px;-moz-border-radius:0px 0px 5px 5px;-webkit-border-radius:0px 0px 5px 5px;-o-border-radius:0px 0px 5px 5px;}
#homesprite{background-image:url('../images/sprite.png');background-position:left top;background-repeat:no-repeat;display:block;margin:10px;position:absolute;width:22px;height:21px;}
#welcome{background-position:left -353px;}
#vision{background-position:left -379px;}
#clients{background-position:left -405px;}
#welcome,#vision,#clients{background-image:url('../images/sprite.png');background-repeat:no-repeat;display:inline-block;margin:7px 13px;position:absolute;width:27px;height:26px;}
#imgholder{background-color:#141414;}
.gallerylistitem{margin:5px;}
.gallerylistitem a{height:120px;}
/*PAGEWRAP///////////////////////////////*/
#pagewrap{width:940px;padding:10px 0;}
/*HEADER/////////////////////////////////*/
#header{background-image:url('../images/header.jpg');background-repeat:no-repeat;background-position:top left;background-color:#141414;}
#headerlink{background-image:url('../images/pat.png');background-repeat:repeat;background-position:top left;height:250px;}
#headerlink a{padding-left:70px;padding-top:90px;text-decoration:none;}
#menudialog{background-color:#2B2B2B;top:250px;width:900px;padding:10px 20px 0px;}
#navigation{background-color:#046380;}
li.topmenuitem{line-height:21px;margin:8px 0;}
li.topmenuitem a{padding:10px 30px;font-size:17px;color:#141414;text-decoration:none;font-style:italic;font-weight:bold;}
li.topmenuitem:hover a{color:#2B2B2B;}
li.topmenuitem:not(:last-child){border-right:2px solid #2B2B2B;}
/*CONTENT////////////////////////////////*/
.content{margin-bottom:20px;}
.contentbox,.tabbox{background-color:#2B2B2B;border-bottom:10px solid #046380;padding:40px 30px;}
.tricontent{margin:0px 20px 20px 0px;}
/*BREADMENU//////////////////////////////*/
ul.breadmenu{height:40px;background-image:url('../images/pat.png');background-position:top left;background-color:#141414;}
li.breadmenuitem,li.trimenuitem,li.tabmenuitem{background-color:#2B2B2B;transition:background-color ease .2s;-moz-transition:background-color ease .2s;-webkit-transition:background-color ease .2s;-o-transition:background-color ease .2s;}
li.breadmenuitem a,li.trimenuitem a,li.tabmenuitem a{font-size:17px;color:#141414;font-weight:bold;font-style:italic;line-height:40px;}
li.trimenuitem a{padding-right:60px;}
li.tabmenuitem a{padding-right:30px;}
li.breadmenuitem a{padding:0px 30px;}
li.breadmenuitem.selected{background-color:#046380;}
li.breadmenuitem:nth-child(2){border-left:4px solid #141414;}
li.breadmenuitem:not(:first-child) a{background-image:url('../images/sprite.png'),url('../images/sprite.png');background-repeat:no-repeat,no-repeat;background-position:left -67px,right -112px;}
li.breadmenuitem:first-child a,li.trimenuitem a,li.tabmenuitem a{background-image:url("../images/sprite.png");background-position:right -22px;background-repeat:no-repeat;margin:0px -4px 0px 0px;}
li.breadmenuitem:first-child a{width:47px;padding:0px 10px 0px 0px;}
li.breadmenuitem:hover{background-color:#046380;}
/*FOOTER/////////////////////////////////*/
#footer{height:200px;background-image:url('../images/pat.png');background-repeat:repeat;background-position:left top;background-color:#141414;margin-top:20px;}
#footerleft{background-color:#2B2B2B;padding:0px 40px;}
#footerarrow{background-image:url('../images/sprite.png');background-repeat:no-repeat;background-position:right -153px;float:left;height:100%;width:26px;}